@import url("mobile.css") screen and (max-width: 1100px);
@import url("desktop.css") screen and (min-width: 1100px);

:root{
    --bg-colour: #000000;
    --text-colour: #cececd;
    --font-family: "Inter";
}


body{
    background: var(--bg-colour);
    color: var(--text-colour);
}

.post-container{
    font-family: var(--font-family);
}